/* 
Paleta de color:

#2a2a2a
#4fa8fb
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #1a1a2b;
  color: #ebebeb;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

h1 {
  font-family: Oswald;
  font-size: 5em;
  text-align: center;
}

h2 {
  font-size: 3em;
  color: #778;
  text-align: center;
}

a:hover {
  color: #bbb;
  transition: all 0.2s;
}




section {
  min-height: 100vh;
  padding: 200px;
  /* border: solid 1px red;  */
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  /* border: solid 1px blue; */
}

.btn-container {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 15px 20px;
  width: 210px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  background: #e4e4e4;
  transition: all 100ms;
}

button:hover {
  background: #fff;
}

.btn-blue {
  background: #4fa8fb;
}

.btn-blue:hover {
  background: #5fb8ff;
}



.subtitle {
  text-align: center;
}


.about-container {
  display: flex;
}

.about-container>div {
  width: 50%;
}

.data-container {
  margin-top: 200px;
  margin-bottom: 200px;
}

.data-container span {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #4fa8fb;
  font-size: 1.5em;
}

.data-container h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3.5em;
}

.data-container p {
  font-size: 1.5em;
  color: #778;
}