/* 
Paleta de color:
Púrpura oscuro (#5A2A7F)
Azul oscuro (#1F305E)
Azul grisáceo (#6C8CA0)
Gris oscuro (#1C1E2E)
Blanco puro (#FFFFFF)
Púrpura medio (#8B3A62)
 */


/* * Layout */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #1C1E2E;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

h1 {
  font-size: 6em;
  text-align: center;
}

h2 {
  font-size: 3em;
  color: #5A2A7F;
  text-align: center;
}

a:hover {
  color: #bbb;
  transition: all 0.2s;
}

/* * fsdfsdf */


.divider-white {
  height: 5px;
  width: 300px;
  background: white;
  border-radius: 5px;
  margin: 20px 0;
}


section {
  margin: 0 auto;
  width: 100%;
}


.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}




#portada {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  /*    border: solid 1px blue;*/


}



.barra {
  background: #5A2A7F;
  width: 100%;
  padding: 100px;

}




.motion-title-container {
  background: #ffffff00;
  width: 100%;
  max-width: 530px;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px #5A2A7F00;

}

.btn-container {
  margin-top: 20px;
  width: 100%;
  max-width: 530px;
  display: flex;
  justify-content: space-between;
}

button {

  padding: 15px 20px;
  width: 220px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  background: #fff;
  transition: all 100ms;
  color: #5A2A7F;
}

button:hover {
  background: #fff;
}

.btn-blue {
  background: #5A2A7F;
  color: #fff;
}

.btn-blue:hover {
  background: #fff;
  color: #5A2A7F;
}



#whoami {
  display: flex;
  background: #8B3A62;
}


.header-img {
  width: 50%;
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.header-texto {
  width: 50%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-self: center;
}

.header-texto h2 {
  color: #fff;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
}



.header-texto p {
  font-size: 2em;
  max-width: 700px;
}





.subtitle {
  text-align: center;
  font-size: 3em;
}


.about-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.about-container>div {
  width: 50%;
}

.data-container {
  margin-top: 200px;
  margin-bottom: 200px;
}

.data-container span {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #8B3A62;
  font-size: 1.5em;
  border-bottom: solid 2px #5A2A7F;
  padding-bottom: 5px;
}

.data-container h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3.5em;
}

.data-container p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  color: #6C8CA0;
}

.img-container {
  margin-top: 100px;
  margin-bottom: 300px;
  position: sticky;

}



.about-right {
  padding: 20px;
  margin-top: 150px;
  padding-bottom: 0;
}

.img1 {
  top: 180px;
}

.img2 {
  top: 200px;
}

.img3 {
  top: 220px;
}




@media (min-width:1200px) {

  #services {
    padding-top: 0px;
    padding-bottom: 200px;
  }

  #services h2 {
    color: #fff;
  }

  .services-container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .services-item {
    width: 30%;
    max-width: 350px;
    height: 100%;
  }

  .s-img-container {
    width: 100%;
    height: 500px;
    position: relative;
  }

  .s-img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #5A2A7F30;
    transition: all 500ms;
  }

  .s-img-container:hover::before {
    background-color: #1F305Eaa;
  }

  .s-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .s-img-container .h4-des {
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    position: absolute;
    top: 45%;
    height: auto;
    font-weight: bold;
    left: 0;
    right: 0;
    padding: 10px;
    transition: all 500ms;
    opacity: 1.0;
    border-top: solid 1px #ffffff20;
    border-bottom: solid 1px #ffffff20;
    background-color: #5a2a7f80;
  }

  .s-img-container:hover .h4-des {
    top: 0;
    background-color: #FFFFFF;
    color: #5A2A7F;
  }

  .s-services-list {
    position: absolute;
    background-color: #5A2A7F80;
    opacity: 0.5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    padding: 15px;
    transition: all 500ms;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }

  .s-services-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1000ms;
    font-size: 1.4em;

    transition: all 500ms;
  }


  .s-img-container:hover .s-services-list {
    opacity: 1;
  }

  .s-services-list ul li {
    margin-top: 20px;
    list-style: none;
    text-align: center;
  }

  .h4-movil {
    display: none;
  }

}







#contact {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background: #5A2A7F;
}

.contact-mitad {
  width: 50%;
}


.mitad-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mitad-texto {
  padding: 30px;

}

.mitad-texto h2 {
  text-align: left;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.mitad-texto h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8em;
  color: #6C8CA0;
}

.mitad-texto h4 {
  font-weight: lighter;
  font-size: 1.3em;
}




form {
  margin-top: 20px;
  max-width: 400px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  background: #8B3A6250;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  resize: none;
}

input:focus, textarea:focus {
  border: none;
  background: #8B3A62;

}

input:invalid {
  border: solid 2px red;
}


footer {
  background: #FFFFFF;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5A2A7F;
}

footer a {
  color: #5A2A7F;
}


.col {
  display: flex;
  margin: 0 10px;
  flex-direction: column;
}


.service-card {
  display: flex;
  padding: 10px;
  width: 250px;
  height: 250px;
}

.service-card-content {
  padding: 20px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  border-radius: 10px;
}

.service-card-rosa {
  background-color: #8B3A62;
}

.service-card-purpura {
  background-color: #5A2A7F;
}

.service-card-azul {
  background-color: #6C8CA0;
}