@media (max-width:600px) {

    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2em;
    }


    

    .btn-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        
    }

    .btn-container a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btn-container a button {
        width: 100%;
    }

    .mt-2 {
        margin-top: 20px;
    }

    .about-container>div {
        width: 100%;
    }

    .about-left {
        padding: 15px;
    }

    .about-right {
        display: none;
    }

    .data-container {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }

    .data-container span {
        font-size: 1em;
    }

    .data-container h3 {
        font-size: 1.8em;
    }

    .data-container p {
        font-size: 1.2em;
    }

    .data-container a, .data-container button {
        width: 100%;
        align-self: center;
    }


    #contact {
        flex-direction: column;
    }

    #contact > div {
        width: 100%;
    }

}


@media (max-width:1200px) {
    
    #services {
        padding-bottom: 10px;
    }

    #services h2 {
        color: #8B3A62;
    }

    .about-left {
        padding: 15px;
    }
    
    .services-container {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-item {
        width: 100%;
        background: linear-gradient(0deg, rgba(90,42,127,1) 0%, rgba(139,58,98,1) 100%);
    }


    .s-img-container img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 0;
        background: green;
    }


    .s-services-list {
        margin-bottom: 50px;
        width: 100%;
        padding: 20px;
    }

    .s-services-list ul {
        margin-top: 20px;
        list-style: none;
    }

    .s-services-list ul li {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 40px;
    }

    .h4-des {
        display: none;        
    }

    .h4-movil {
        display: block !important;
        margin-top: 0;
        background: white;
        color: #5a2a7f;
        text-align: center;
        font-size: 2em;
    }
}